<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <% include navbar %>
    </header>
    
    <p> You search for <strong> <%= data.location%> </strong></p>
    <p>It's <%= data.description %> out there.
        The temperature is <%= data.temperature %> °C, but it feels like <%= data.feelsLike %> °C.</p>
    
  </body>
  <button><a href='/'> Go back </a></button>
</html>
